In [24]:
# Importing Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import keras 
import tensorflow as tf

In [25]:
# Load the IPL dataset
ipl = pd.read_csv('ipl_history.csv')

# Display the first 5 rows of the dataset
ipl.head(5)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [26]:
# Dropping irrelevant columns
df = ipl.drop(['mid', 'date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker', 'non-striker'], axis=1)

# Display the first 5 rows of the updated DataFrame
df.head()

,venue,bat_team,bowl_team,batsman,bowler,total
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,222
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,222
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,222
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,222
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,222

In [27]:
# Define features (X) and target variable (y)
X = df.drop(['total'], axis=1)
y = df['total']

In [28]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object for each categorical feature
venue_encoder = LabelEncoder()
batting_team_encoder = LabelEncoder()
bowling_team_encoder = LabelEncoder()
batsman_encoder = LabelEncoder()
bowler_encoder = LabelEncoder()

# Fit and transform the categorical features with label encoding
X['venue'] = venue_encoder.fit_transform(X['venue'])
X['bat_team'] = batting_team_encoder.fit_transform(X['bat_team'])
X['bowl_team'] = bowling_team_encoder.fit_transform(X['bowl_team'])
X['batsman'] = batsman_encoder.fit_transform(X['batsman'])
X['bowler'] = bowler_encoder.fit_transform(X['bowler'])

# Display the first 5 rows of the updated DataFrame
X.head()

   venue  bat_team  bowl_team  batsman  bowler
0     14         6         12      328     201
1     14         6         12       61     201
2     14         6         12       61     201
3     14         6         12       61     201
4     14         6         12       61     201

In [29]:
from sklearn.model_selection import train_test_split

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Display the shapes of the training and testing sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (53209, 5)
X_test shape: (22805, 5)
y_train shape: (53209,)
y_test shape: (22805,)

In [30]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Display the shapes of the scaled training and testing sets to verify
print("X_train_scaled shape:", X_train_scaled.shape)
print("X_test_scaled shape:", X_test_scaled.shape)

print(X_train_scaled)

X_train_scaled shape: (53209, 5)
X_test_scaled shape: (22805, 5)
[[0.44117647 0.92307692 0.         0.1902439  0.36890244]
 [0.64705882 0.15384615 0.30769231 0.95853659 0.14634146]
 [0.41176471 0.92307692 1.         0.93658537 0.53353659]
 ...
 [0.02941176 0.53846154 0.         0.5195122  0.55792683]
 [0.44117647 0.         0.53846154 0.62926829 0.83841463]
 [0.41176471 0.92307692 0.         0.93658537 0.5152439 ]]

In [31]:
input_dimension = X_train_scaled.shape[1]

# Define the deep learning model 
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=512, activation="relu", input_dim=input_dimension))
nn_model.add(tf.keras.layers.Dense(units=256, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=128, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Compile the model with Huber loss
huber_loss = tf.keras.losses.Huber(delta=1.0) # You can adjust the 'delta' parameter as needed
nn_model.compile(optimizer='adam', loss=huber_loss) # Use Huber loss for regression

c:\Users\kashi\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [32]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 36.8996
Epoch 2/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 22.3841
Epoch 3/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 22.3521
Epoch 4/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 22.5645
Epoch 5/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 22.2699
Epoch 6/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 22.0329
Epoch 7/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 21.5387
Epoch 8/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 6ms/step - loss: 21.4342
Epoch 9/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 21.2907
Epoch 10/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 20.9960
Epoch 11/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 20.8811
Epoch 12/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 20.5607
Epoch 13/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 6ms/step - loss: 20.3202
Epoch 14/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - loss: 19.9107
Epoch 15/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 6ms/step - loss: 19.7758
Epoch 16/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 19.3282
Epoch 17/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 19.1021
Epoch 18/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 18.9219
Epoch 19/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 18.5620
Epoch 20/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 18.8166
Epoch 21/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 18.3678
Epoch 22/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 18.4473
Epoch 23/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 18.0930
Epoch 24/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 18.0854
Epoch 25/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 17.8542
Epoch 26/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 17.6306
Epoch 27/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 17.2434
Epoch 28/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - loss: 17.2194
Epoch 29/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - loss: 16.9452
Epoch 30/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - loss: 16.6043
Epoch 31/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - loss: 16.3513
Epoch 32/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 16.3891
Epoch 33/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 16.1149
Epoch 34/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 15.9069
Epoch 35/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - loss: 15.8397
Epoch 36/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 15.4756
Epoch 37/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 15.2720
Epoch 38/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 15.1018
Epoch 39/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 14.9698
Epoch 40/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - loss: 14.9323
Epoch 41/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 14.8016
Epoch 42/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - loss: 14.6474
Epoch 43/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 14.5383
Epoch 44/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - loss: 14.4270
Epoch 45/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 14.1376
Epoch 46/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - loss: 14.1041
Epoch 47/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - loss: 14.1472
Epoch 48/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 14.0307
Epoch 49/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 13.9508
Epoch 50/50
1663/1663 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 13.8436

In [35]:
model_losses = pd.DataFrame(nn_model.history.history)
model_losses.plot()

TypeError: no numeric data to plot

In [34]:
# Make predictions
predictions = nn_model.predict(X_test_scaled)

from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,predictions)

713/713 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step

14.649197747670254